@font-face {
    font-family: myFont;
    src: url(roboto.ttf);
}
@font-face {
    font-family: myCinzel;
    src: url(Cinzel.ttf);
}

body
{
  background: url(../../assets/img/bg.jpg) 50% 0 no-repeat #d4ecf9;
  font-family: myFont;
  color: #fff;
}
.main{
  /*width: 1094px;
    margin: 43px auto 0;*/
  background: url(../../assets/img/main_bg.png) 0 0 repeat;
  position:  relative;
  top: 30px;
}

/* 
/////////////////////////////////////////////////
                HEADER 
///////////////////////////////////////////////*/

.menu{
  padding-top: 65px;
  background:  none;
  border: none;
}
.menu .menu-nav>li>a{
  color: #fff;
}
.menu .menu-nav>li>a:focus, .menu .menu-nav>li>a:hover {
    color: #000;
    background-color: white;
}
.slider-content{
  padding: 9px 40px;
  position:  relative;
  top: 37px;
}

.sb-slider{
  background: #fff;
    padding: 14px;
}
.carousel-control.left, .carousel-control.right{background: none;}
.img-title{
  margin: 0 auto;
}


/* 
/////////////////////////////////////////////////
                CENTER CONTENT 
///////////////////////////////////////////////*/

.main2{
    background: url(../../assets/img/center.png) 0 0 repeat;
    line-height: 22px;
    height: 334px;
}
.center-main{
    position: relative;
    top: 100px;
}

.sign{
    width: 45px;
    display: inline-block;
    background: #0a0000;
    height: 45px;
    border-radius: 50%;
}

.sign .fas{
    text-align: center;
    display: block;
    padding: 13px;
    font-size: 19px;
    color: #d3e3b2;
}
.description{
     margin-left: 79px;
     color: #000;
     background: #dce8c2;
     padding: 7px;
     border: 2px solid #4c8500;
}
.description h4{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.description p{
  font-family: myFont;
  font-size: 14px;
}
/* 
/////////////////////////////////////////////////
                MAIN3
///////////////////////////////////////////////*/
.main3{
  background: url(../../assets/img/main3.png) 0 0 repeat;
  position: relative;
  padding:  18px 0px;
  padding-bottom: 96px;
}
.corousel-content{
      position: relative;
    top: 44px;
}
.carousel-indicators{
  display: none;
}
.item h4{
  font-family: myCinzel;
  font-size:  27px;
  font-weight:  normal;
  margin-bottom: 13px;
}

.item p{
  color: #a5a0a0;
  font-family: "Times New Roman", Times, serif;
}

/* 
/////////////////////////////////////////////////
                MAIN4 
///////////////////////////////////////////////*/

.main4{
  background: url(../../assets/img/main_bg.png) 0 0 repeat;
  position: relative;
  height: auto;
  border-top: 1px solid #444;
}

.process, .article{
  padding: 17px;
}
.process h3{
  margin-bottom: 18px;
  font-family: myCinzel;
  font-size: 35px;
  text-transform: uppercase;
}
.process h3 span {
    font-size: 25px;
    color: #6a6a6a;
    display: block;
    padding-top: 3px;
}
.main4-content{
  padding-top: 40px;
}
ul.list li {
    padding-left: 13px;
    font-size: 11px;
    line-height: 26px;
    text-transform: uppercase;
    background: url(../../assets/img/marker1.png) 0 10px no-repeat;
    color: #b3b3b3;
}


.article h3{
  margin-bottom: 18px;
  font-family: myCinzel;
  font-size: 35px;
  text-transform: uppercase;
}
.article h3 span {
    font-size: 25px;
    color: #6a6a6a;
    display: block;
    padding-top: 3px;
}
.img-inner{
    border: 7px solid #333333;
    margin-top: 3px;
    display: inline-block;
}
.fleft {
    float: left;
    margin-right: 20px;
}
.extra_wrapper h5 {
    color: #969696;
    font-family: myCinzel;
}
.extra_wrapper p{
  color: #717171;
  font-family: myFont;
  font-size: 15px;
}





 @media (min-width: 768px) {
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
  }
  .navbar .navbar-collapse {
      text-align: center;
  }
} 